/* Importing typefaces from Google Fonts and Local Fonts above this comment*/

@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
@font-face {
    font-family: "New York";
    src: url(assets/fonts/NewYorkFont.otf);
}

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    background-color: #151515;
    color: #fff;
    font-family: "Newsreader",sans-serif;
    font-size: 18px;
}