@import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Schoolbell&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #151515;
    color: #fff;
    font-family: "Pangolin",sans-serif;
    font-size: 20px;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.container-logo{
    margin-right: auto;
}
.logo{
    max-width: 250px;
    cursor: pointer;
    padding: 24px;
}
.nav-links{
   list-style: none;
   padding-right: 24px;
}
.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav-links li a{
    text-decoration: none;
    color: #FFDDB7;
}
.nav-links li a:hover{
    text-decoration: none;
    color: #fff;
}

main{
    width: 100%;
    height: 800px;
    display: block;
    justify-content: center;
    text-align: center;
}
main h1{
    font-size: 120px;
    margin-top: 48px;
}
main h4{    
    padding: 10px;
    margin-top: 24px;
    font-size: 28px;
}
.btn-secondary{
    font-family: "Pangolin", sans-serif;
    font-size: 28px;
    margin-top: 40px;
    padding: 24px 48px;
    background-color: #fff;
    border: none;
}
.btn-primary{
    font-family: "Pangolin", sans-serif;
    font-size: 28px;
    margin-top: 40px;
    padding: 24px 48px;
    background-color: #FFDDB7;
    border: none;
}
button a{
    text-decoration: none;
    color: #000;
}
btn-secondary:hover{
    font-family: "Pangolin", sans-serif;
    font-size: 28px;
    margin-top: 40px;
    padding: 24px 48px;
    background-color: #ffddb7;
    border: none;
}
.about-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-section h1{
    font-size: 62px;
    margin-top: 40px;
    margin-bottom: 16px;
}
.about-section p{
    width: 864px;
    font-size: 24px;
    text-align: center;
    padding-bottom: 40px;
}
.img-test{
    background-color: #FFDDB7;
    width: 1464px;
    height: 573px;
    margin-bottom: 36px;
}
.projects-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.projects-section{
    width: 100%;
    height: 950px;
}
.projects-section h1{
    font-size: 62px;
    margin-top: 220px;
    margin-bottom: 16px;
}
.card-container{
    display: flex;
    gap: 32px;
}
.card{
    width: 427px;
    height: 567px;
    background-color: #FFDDB7;
}
